<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: cabecalho('Motos')}" />

  <body>
       <div>
       <img th:src="@{/img/mottu-logo.png}" alt="" style="width: 100px; height: auto; border-radius: 50%;">
       </div>
        <div class="row">
            <h1>Moto</h1>
        </div>
         <div class="row">
            <div class="col-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
							<th scope="col">Código</th>
                            <th scope="col">placa</th>
                            <th scope="col">chassi</th>
                            <th scope="col">tatus</th>
                        </tr>
                      </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>